
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href='#'>Vehiculos</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href={% url 'inicioName' %}>Inicio</a>
          </li>
          {% if perms.vehiculo.visualizar_catalogo and perms.vehiculo.add_vehiculomodel %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href={% url 'addName' %}>Agregar</a>
          </li>
          {% endif %}
          {% if perms.vehiculo.visualizar_catalogo  %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href={% url 'listName' %}>Listar</a>
          </li>
          {% endif %}
        </ul>
        {% if user.is_authenticated %}
                <li class="d-flex nav-item">
                    <a class="nav-link active" aria-current="page" href={% url 'logoutName' %}>Salir</a>
                </li>
                <li class="d-flex nav-item">
                    <a class="nav-link active" aria-current="page" href='#'>Hola, {{user.username}}</a>
                </li>
        {% else %}
                <li class="d-flex nav-item">
                    <a class="nav-link active" aria-current="page" href={% url 'loginName' %}>Login</a>
                </li>
                
        {% endif %}
      </div>
    </div>
  </nav>